<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

     <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300i,400,700,700i" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  </head>

  <body>

<<<<<<< HEAD
=======



<!-- nav bar -->

>>>>>>> d5cb5fe36e8e4ae1d61fffcb1e15fa040884af2d
    <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/#'>Learntrist</a>
      </div>
      <ul class='nav navbar-nav navbar-right' >

        <li>
            <input type="text" class="form-control search-bar" placeholder="Search...">
        </li>
        <li>
            <button type ="submit" class="btn btn-default search-bar">Submit</button>
        </li>

<<<<<<< HEAD
        <li><a href="/users.id">User</a></li>
        <li><a href="/resource">Resource</a></li>
        <li><a href="/users.id/edit">Edit Profile</a></li>
=======
        <li><a href="/user_id">User</a></li>
        <li><a href="/resource">Resource</a></li>
        <li><a href="/user_id/edit">Edit Profile</a></li>
>>>>>>> d5cb5fe36e8e4ae1d61fffcb1e15fa040884af2d
        <li><a href='/'>Logout</a></li>
      </ul>
      </div>
    </nav>




<<<<<<< HEAD
<div class='container text-center'>
    <div class="row">
      <h3>Edit your User</h3>
          <section class="col-sm-center-block" action='/#' style='border: 3px solid #404040'>
            <div><label><b>New Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required></div>
            <div><label><b>New Password</b></label>
            <input type="password" placeholder="Enter Password" name="pword" required></div>
            <button type='submit'><a href="/users.id">Change</a></button>
=======

<!-- edit box -->

<div class=' user-field container text-center'>
    <div class="row">
      <h3>Edit your User</h3>
          <section class="col-sm-center-block" action='/#'>
            <div><label class="label-edit"><b>New Username</b></label>
            <input class="edit" type="text" placeholder="Enter Username" name="uname" required></div>
            <div><label class="label-edit"><b>New Password</b></label>
            <input class="edit" type="password" placeholder="Enter Password" name="pword" required></div>
            <button class="edit-button" type='submit'>Change</button>
>>>>>>> d5cb5fe36e8e4ae1d61fffcb1e15fa040884af2d
          </section>
        </div>
    </div>



