<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>

    <h2>Login</h2>





 <a class="clo" href="#">×</a>
    <div class="log">
      <form action="/api/login/" method="POST" role="login" style="all: initial;">
        <label for="login"></label>
        <input type="email" name="email" placeholder="you@example.com"/>
        <input type="password" name="password" placeholder="Password"/>
        <button id="Go"type="submit">Go!</button>
      </form>
  </div>









  </body>
</html>
