<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body style='background-color: #e8e8e8'>
    <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>Learntrist</a>
      </div>
      <ul class='nav navbar-nav navbar-right' >
        <li><a href='/'>Login</a></li>
      </ul>
      </div>
    </nav>

    <div class='container text-center'>
      <h3>Come Learn With Us</h3>
      <p>Sign up today and get learning</p>
          <form class="col-sm-4" action='/#' style='border: 3px solid #404040'>
            <label><b>Register A Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <button type='submit'>Register</button>
          </form>
        </div>
    </div>
  </body>
</html>
