
Resources for <%= user.name%>

  </div><%= user.email%></div>

  <a href="#update-user-popup">Update profile</a></div>

    <div class="row">
      <div id="own-id-info" class="col-md-12 user-info" data-ownerID="<%= owner_id %>">Resource for <%= owner %></div>
    </div>
  <% } %>
  </div>
  <div class"row">
  </div>
  <br>
  <div id="btn-container">
    <button id="btn-submitted" type="button" class="btn btn-danger btn-lg btn-block submitted-button">Submitted Resources</button>
    <button id="btn-liked" type="button" class="btn btn-danger btn-lg btn-block liked-button">Liked Resources</button>
  </div>
    <section class="container">

    </section>
  </main>
</body>
</html>
