body{
  background-color: #787878;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
}

section.col-sm-4 {
  border: 3px solid #404040;
}
div

span.col-sm-12 .col-md-6 {
            margin: 10px 10px;
            background-color: #47d1d1;
            max-width: 550px;
            padding-bottom: 5px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white

}

.container {
  margin-top: 100px;
}

.search-bar {
  margin-top:10px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

