@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300i,400,700,700i');

body {
  background-color: #e8e8e8;
  font-family: serif;
}

section.col-sm-4 {
  border: 3px solid #404040;
}

span.col-sm-12 col-md-6 {
            margin: 10px 10px;
            background-color: #383838;
            max-width: 550px;
            padding-bottom: 5px;
}

div.star s-0.5 {
  color: white
}

.container {
  margin-top: 100px;
}

.search-bar {
  margin-top:10px;
}

